@{
    ViewBag.Title = "Impressum";
}
<h2>@ViewBag.Title</h2>

<div class="content">
    <p>Anschrift und Sitz:</p>
    <p>TOBIS Film GmbH </p>
    <p>Kurfürstendamm 63</p>
    <p>10707 Berlin</p>
    <p>DeutschLand</p>
    <p></p>
    <p>Telefon: (49) 30 839007-0</p>
    <p>Telefax: (49) 30 839007-65</p>
    <p>e-mail: info@tobis.de</p>
    <p>Internet: www.tobis.de</p>
    <p></p>
    <p></p>
    <p>Registereintragung:</p>
    <p>Amtsgericht Berlin Charlottenburg HRB 174916 B/p>
    <p></p>
    <p></p>
    <p>Umsatzsteuer Ident. Nummer: DE 136665516</p>
    <p></p>
    <p></p>
    <p>Geschäftsführung:</p>
    <p>Timm OberwelLand, Peter Eiff, Theodor Gringel</p>
    <p></p>
    <p></p>
    <p>Facebook-Gewinnspiele</p>
    <p>§ 1 Allgemeines</p>
    <p>
        Eine Teilnahme am Gewinnspiel der Facebook - Fanseite: "Tobis
        Filmclub" (nachfolgend „die Veranstalterin“ genannt), ist nur unter
        Einbeziehung dieser Teilnahmebedingungen möglich. Das Gewinnspiel wird
        nicht von Facebook unterstützt und steht &nbsp;in keiner Verbindung zu
        Facebook.
    </p>
    <p>&nbsp;</p>
    <p>§ 2 Teilnahmevoraussetzungen</p>
    <p>
        Teilnehmen können alle natürlichen und geschäftsfähigen Personen mit
        einem Mindestalter von 18 Jahren. Mitarbeiter/innen der Veranstalterin
        und deren Verwandte sind von der Teilnahme ausgeschlossen. Der/Die
        Teilnehmer/in erklärt sich mit der Teilnahme damit einverstanden, dass
        im Gewinnfalle ggf. sein/ihr Name und/oder Bild im Internet
        veröffentlicht wird. Die Teilnahme ist nur innerhalb von 7 Tagen nach
        Veröffentlichung des Gewinnspiels möglich. Der Rechtsweg ist
        ausgeschlossen.
    </p>
    <p>&nbsp;</p>
    <p>§ 3 Gewinn</p>
    <p>
        Der Preis wird, wie im Gewinnspiel ausgeschrieben, vergeben. Bei
        mehreren richtigen Einsendungen entscheidet das Los unter Ausschluss des
        Rechtsweges. Eine Änderung oder Barauszahlung des Preises ist
        ausgeschlossen. Der/Die Gewinner/in wird via Facebook von uns
        benachrichtigt. Meldet sich der/die Gewinner/in nicht binnen eines
        Monats auf die Gewinnmitteilung, verfällt der Gewinn ersatzlos.
    </p>
    <p>&nbsp;</p>
    <p>§ 4 Haftung</p>
    <p>
        Schadenersatzansprüche gegenüber der Veranstalterin, die im
        Zusammenhang mit dem Gewinnspiel stehen, sind - innerhalb des gesetzlich
        zulässigen - unabhängig vom Rechtsgrund ausgeschlossen, es sei denn,
        die Veranstalterin hätte vorsätzlich oder grob fahrlässig gesetzliche
        Pflichten verletzt. Ferner haftet die Veranstalterin nicht für Schäden
        aus der Beeinträchtigung der Verfügbarkeit der Gewinnspiel-Internetseite
        bei nicht beeinflussbaren technischen Störungen und Ereignissen höherer
        Gewalt, sowie Angriffen Dritter gegen die Gewinnspiel- Internetseite.
        Die Veranstalterin wird jedoch alles unternehmen, um die Zuverlässigkeit
        und Funktionsfähigkeit der Gewinnspiel- Internetseite sicherzustellen.
        Weiterhin übernimmt die Veranstalterin keine Garantie dafür, dass die
        Gewinnspiel-Internetseite auf dem jeweiligen Teilnehmerrechner
        ordnungsgemäß funktionsfähig ist.
    </p>
    <p>&nbsp;</p>
    <p>§ 5 Datenschutz</p>
    <p>
        Die Veranstalterin gewährt im Rahmen des Gewinnspiels den
        größtmöglichen datenschutzrechtlichen Standard und beachtet alle
        diesbezüglich einschlägigen gesetzlichen Bestimmungen. Die
        Veranstalterin wird keine personenbezogenen Daten an Dritte weiterleiten
        oder Adressdaten verkaufen. Die Veranstalterin speichert die
        personenbezogenen Daten der jeweiligen Teilnehmer/ in ausschließlich zum
        Zwecke des Gewinnspiels. Der/Die Teilnehmer/in erklärt hiermit
        ausdrücklich sein/ihr Einverständnis mit der Speicherung und Verwendung
        der mitgeteilten personenbezogenen Daten zu dem oben genannten Zweck.
    </p>
    <p>&nbsp;</p>
    <p>§ 6 Salvatorische Klausel</p>
    <p>
        Sollten einzelne Bestimmungen dieser Teilnahmebedingungen unwirksam
        sein oder eine Regelungslücke bestehen, berührt dies die Wirksamkeit der
        übrigen Bestimmungen nicht. An die Stelle der unwirksamen oder
        fehlenden Bestimmungen tritt eine Bestimmung, welche dem Vertragszweck
        und den gesetzlichen Bestimmungen am nächsten kommt.
    </p>
    <p>&nbsp;</p>
    <p>§ 7 Gerichtsstand / anwendbares Recht</p>
    <p>
        Bei Streitigkeiten gilt ausschließlich deutsches Recht. Als
        Gerichtsstand wird, soweit gesetzlich zulässig, der Sitz der
        Veranstalterin vereinbart. Soweit der/die Teilnehmer/in keinen
        allgemeinen Gerichtsstand in DeutschLand hat, oder nach der Teilnahme
        den Wohnsitz ins AusLand verlegt, wird der Sitz der Veranstalterin
        ebenso als Gerichtsstand vereinbart.
    </p>
    <p>&nbsp;</p>
    <p>§ 8 Auswahlverfahren</p>
    <p>Die Gewinner werden mit einem Zufallsgenerator (<a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.fanpagekarma.com%2Ffacebook-promotion&amp;h=mAQFPxdDc&amp;s=1" target="_blank">http://www.fanpagekarma.com/facebook-promotion</a>) ausgewählt. Der Rechtsweg ist auch hier selbstverständlich ausgeschlossen.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Haftung für Inhalte</p>
    <p>
        Die Inhalte unserer Seiten wurden mit großer Sorgfalt erstellt. Für
        die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir
        jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7
        Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
        Gesetzen verantwortlich. Nach § 8 bis 10 TMG sind wir als
        Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
        gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
        forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
        Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
        Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
        Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
        entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
        entfernen.
    </p>
    <p>&nbsp;</p>
    <p></p>
    <p>Haftung für Links</p>
    <p>
        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
        Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
        Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
        Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
        verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
        Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
        waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
        inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
        Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden
        von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
    </p>
    <p>&nbsp;</p>
    <p></p>
    <p>Urheberrecht</p>
    <p>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
        Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
        Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
        Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
        jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite
        sind nur für den privaten, nicht-kommerziellen Gebrauch gestattet.
        Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
        werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
        Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
        Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
        entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden
        wir derartige Inhalte umgehend entfernen.
    </p>
    <p>&nbsp;</p>
    <p></p>
    <p>Hinweis zum Datenschutz</p>
    <p>
        Die Nutzung unserer Webseite ist in der Regel ohne Angabe
        personenbezogener Daten möglich. Soweit auf unseren Seiten
        personenbezogene Daten (beispielsweise Name, Anschrift oder
        E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf
        freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche
        Zustimmung nicht an Dritte weitergegeben.&nbsp;
    </p>
    <p>
        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B.
        bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein
        lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
        möglich.&nbsp;
    </p>
    <p>
        Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
        Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich
        angeforderter Werbung und Informationsmaterialien wird hiermit
        ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich
        ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von
        Werbeinformationen, etwa durch Spam-Mails, vor.
    </p>
    <p>&nbsp;</p>
    <p></p>
    <p>Google Analytics</p>
    <p>
        Soweit diese Website Google Analytics, einen Webanalysedienst der
        Google Inc. ("Google") benutzt, speichert Ihr Browser eventuell ein von
        Google Inc. oder Dritten gesendetes Cookie, dass eine Analyse Ihrer
        Nutzung dieser Website ermöglicht. Die so gesammelten Informationen
        (einschließlich Ihrer IP-Adresse) werden an einen Server von Google in
        den USA übertragen und dort gespeichert. Google nutzt diese
        Informationen, um Ihre Nutzung dieser Website auszuwerten, um Reports
        über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen
        und um weitere mit der Websitenutzung und der Internetnutzung verbundene
        Dienstleistungen zu erbringen. Google wird diese Informationen
        gegebenenfalls auch an Dritte übertragen, sofern dies gesetzlich
        vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google
        verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen von
        Google gespeicherten Daten in Verbindung bringen. Die Installation der
        Cookies können Sie verhindern. Dazu müssen Sie in Ihren
        Browser-Einstellungen “keine Cookies akzeptieren” wählen (Im
        Internet-Explorer unter “Extras / Internetoptionen / Datenschutz /
        Einstellung”, bei Firefox unter “Extras / Einstellungen / Datenschutz /
        Cookies”). Es wird darauf hingewiesen, dass Sie in diesem Fall
        gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich
        nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit
        der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor
        beschriebenen Art und Weise und zu dem zuvor benannten Zweck
        einverstanden.
    </p>
    <p>&nbsp;</p>
    <p></p>
    <p>Sonstiges</p>
    <p>
        Soweit auf dieser Website personenbezogene Daten (Name, Anschrift,
        Email-Adresse etc.) erhoben werden, geschieht dies im freiwilligen
        Einvernehmen mit dem Nutzer und in dessen Kenntnis.&nbsp;
    </p>
    <p>
        Es wird darauf hingewiesen, dass hinsichtlich der Datenübertragung
        über das Internet (z.B. bei der Kommunikation per E-Mail) keine sichere
        Übertragung gewährleistet ist. Empfindliche Daten sollten daher entweder
        gar nicht oder nur über eine sichere Verbindung (SSL) übertragen
        werden.
    </p>
    <p>&nbsp;</p>
    <p></p>
    <p>Cookies</p>
    <p>
        Cookies sind Textinformationen, die auf dem Rechner des jeweiligen
        Anwenders gespeichert werden. Der Speicherort der Cookies hängt vom
        verwendeten Browser ab. Die gespeicherten Cookies beinhalten
        Informationen, die beim nächsten Seitenaufruf an den Server gesendet
        werden. Diese Informationen werden keinem Dritten zur Verfügung
        gestellt.&nbsp;
    </p>
    <p>
        Cookies dienen nicht dazu, Schaden auf dem Computer des Anwenders
        anzurichten, sie enthalten keine persönlichen Informationen, sondern
        lediglich Kennnummern, die der Benutzerfunktion dienen. Sie können diese
        Cookies über Ihren Browser aktivieren oder deaktivieren.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Social Plugins</p>
    <p>
        Unsere Internetseiten verwenden Social Plugins des sozialen
        Netzwerkes Facebook, dass von der Facebook Inc., 1601 S. California Ave,
        Palo Alto, CA 94304, USA betrieben wird. Die Plugins sind mit einem
        Facebook Logo oder dem Zusatz „Gefällt mir“ bzw. „Senden“
        gekennzeichnet. Wenn Sie eine Seite unserer Websites aufrufen, die ein
        solches Plugin enthalten, baut Ihr Browser eine direkte Verbindung mit
        den Servern von Facebook auf. Der Inhalt des Plugins wird von Facebook
        direkt an Ihren Browser übermittelt und von diesem in unsere
        Internetseite eingebunden. Durch die Einbindung der Plugins erhält
        Facebook die Information, dass Sie die entsprechende Seite unserer
        Website aufgerufen haben. Sind Sie bei Facebook eingeloggt, kann
        Facebook den Besuch Ihrem Facebook-Konto zuordnen. Wenn Sie mit den
        Plugins interagieren, zum Beispiel den „Gefällt mir“ Button betätigen
        oder einen Kommentar eingeben, wird die entsprechende Information von
        Ihrem Browser direkt an Facebook übermittelt und dort gespeichert. Zweck
        und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung
        der Daten durch Facebook sowie Ihre diesbezüglichen Rechte und
        Einstellungsmöglichkeiten zum Schutz Ihrer Privatssphäre entnehmen Sie
        bitte den Datenschutzhinweisen von Facebook. Wenn Sie nicht möchten,
        dass Facebook über unsere Internetseiten Daten über Sie sammelt, müssen
        Sie sich vor Ihrem Besuch unserer Websites bei Facebook ausloggen.
    </p>
</div>

