@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zugriff verweigert";
}

<h1 class="text-danger">Access Denied!</h1>
<h2 class="text-danger">Sie haben nicht die erforderlichen Rechte diese Seite zu sehen</h2>
